@import './styles/generic/_generic-normalize';

@import './styles/settings/_settings-typography';
@import './styles/settings/_settings-shadows';
@import './styles/settings/_settings-colors';
@import './styles/settings/_settings-breakpoints';

@import './styles/objects/_objects-containers';
@import './styles/objects/objects-ul';
@import './styles/objects/objects-inputs';

@import './styles/elements/elements-links';
@import './styles/elements/elements-textarea';

@import './styles/utilities/utilities-icons';
@import './styles/utilities/utilities-animations';

@import './styles/components/_components-button';
@import './styles/components/_components-header';
@import './styles/components/_components-footer';
@import './styles/components/_components-navigation';
@import './styles/components/home/components-home-main';
@import './styles/components/home/components-home-container';
@import './styles/components/home/components-home-dots';
@import './styles/components/teachers/components-teachers-main';
@import './styles/components/teachers/components-teachers-circle-image';
@import './styles/components/contacts/components-contacts-main';
