@import '../settings/_settings-colors';

.header__info {
    &-home {
        background: $blue-400;
        color: #fff;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        .home-h1 {
            width: 640px;
            @include for-phone-only {
               width: 100%;
               margin: 0;
               text-align: center;
               justify-self: center;
            }
        }
    }

   
&-teachers {
    background: $secondary-600;
    color: #fff;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;

    .teachers-h1 {
        width: 850px;
        
    }
}

&-contacts-img {
    width: 100%;
    height: 100%;
}
    
}