.navbar {
    position: relative;
    box-shadow: $navbar-shadow;

    @include for-phone-only {
       
    }

    &__wrapper {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        @include for-phone-only {
            grid-template-columns: 1.2fr 1fr;
            width: 90%;
        }
        
    }

    &__items {
        display: flex;
        justify-content: flex-end;
        padding: 0 30px;
        @include for-phone-only {
            display: none;
        }
    }

    &__item {
        list-style: none;
        margin: 15px;

        a { 
            text-decoration: none;
            text-transform: uppercase;
            color: $grey-700;
            cursor: pointer;
            transition: color 0.2s ease-out;
        }

        :hover {
            color: $secondary-color;
        }
    }
    &__logo {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 16px;
        align-items: center;
    }

    &__search {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 30px;
        align-items: center;

        .menu {
            display: none;
            @include for-phone-only {
                display: inherit;
            }
        }

        .search {
            @include for-phone-only {
                display: none;
            }
        }
    }
}
